<div>
    <h1>Наши курсы</h1>
    <p>Все программы действуют в течение года для пользователя <b>{{data.user}}</b>.</p>
    <p>Расписание на дату: <b>{{data.date}}</b></p>
    <table style="width:100%; border-spacing:0;">
        <tbody>
            <tr>
                <th>Курс</th>
                <th>Москва</th>
                <th>Санкт-Петербург</th>
                <th>Екатеринбург</th>
            </tr>
            <tr>
                <td>Основы Python</td>
                <td>Сб, 20 февраля 2021<br />11:00 - 14:00</td>
                <td>Сб, 6 марта 2021<br />11:00 - 14:00</td>
                <td>Сб, 20 марта 2021<br />11:00 - 14:00</td>
            </tr>
            <tr class="even">
                <td>Алгоритмы и структуры данных на Python</td>
                <td>Сб, 10 апреля 2021<br />11:00 - 13:00</td>
                <td>Сб, 1 мая 2021<br />11:00 - 13:00</td>
                <td>Сб, 8 мая 2021<br />11:00 - 13:00</td>
            </tr>
            <tr>
                <td>Основы Django</td>
                <td>Сб, 26 июня 2021<br />11:00 - 14:00</td>
                <td>Сб, 3 июля 2021<br />11:00 - 14:00</td>
                <td>Сб, 10 июля 2021<br />11:00 - 14:00</td>
            </tr>
            <tr class="even">
                <td>Основы Flask</td>
                <td>Сб, 28 августа 2021<br />11:00 - 16:00</td>
                <td>Сб, 4 сентября 2021<br />11:00 - 16:00</td>
                <td>Сб, 11 сентября 2021<br />11:00 - 16:00</td>
            </tr>
        </tbody>
    </table>
    <h2>Зарегистрируйтесь</h2>
    <form action="" method="post">
        <div class="form_settings">
            <p><span>Ваше имя:</span><input type="text" name="name" value=""></p>
            <p><span>Ваш email:</span><input type="text" name="email" value=""></p>
            <p><span>Ближайший центр:</span>
                <select name="location" id="location">
                     <option value="ny">Москва</option>
                     <option value="il">Санкт-Петербург</option>
                     <option value="ca">Екатеринбург</option>
                 </select>
            </p>
            <p><span>Являетесь участником?</span>
                <div class="form_radio_btn">
                    <input id="radio-1" type="radio" name="member" value="1">
                    <label for="radio-1">Да</label>
                </div>
                <div class="form_radio_btn">
                    <input id="radio-2" type="radio" name="member" value="2" checked>
                    <label for="radio-2">Нет</label>
                </div>
            </p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="name" value="Регистрация"></p>
        </div>
    </form>
</div>