<!DOCTYPE html>
<html>
	<head>
  		<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
		<title>О школе</title>
	    <meta name="description" content="website description">
	    <meta name="keywords" content="website keywords, website keywords">
    	<link href="/static/css/style.css" rel="stylesheet">
	</head>
	<body>
		<div id="main">
			<div id="header">
			    <div id="logo">
					<div id="logo_text">
					  <h1><a href="/"><span class="logo_colour">Школа программирования</span></a></h1>
					  <h2>Обучение онлайн и офлайн</h2>
					</div>
				</div>
			    <div id="menubar">
				    <ul id="menu">
          				<li><a href="/">Главная</a></li>
          				<li><a href="/about/">О нас</a></li>
				    </ul>
      			</div>
      		</div>
 			<div id="content_header"></div>
			<div id="site_content">
				<div id="sidebar_container">
        			<div class="sidebar">
         				<div class="sidebar_top"></div>
         				<div class="sidebar_item"></div>
         				<div class="sidebar_base"></div>
					</div>
        			<div class="sidebar">
         				<div class="sidebar_top"></div>
         				<div class="sidebar_item"></div>
         				<div class="sidebar_base"></div>
					</div>
				</div>
				<div id="content">
					<h1>Описание</h1>
					<p>Школа программирования для тех, кто хочет быть лучшим.</p>
					<h1>Контакты</h1>
					<p>Позвонить нам нельзя, приехать тоже. Оставляйте заявку и мы вам перезвоним.</p>
					<h1><a href="/">На главную</a></h1>
				</div>
			</div>
			<div id="content_footer"></div>
			<div id="footer">
			    <p>George Korobanov</p>
			</div>
		</div>

	</body>
</html>
