{% extends "base.html" %}
{% block title %}О школе{% endblock %}
{% block body %}
<div id="site_content">
	<div id="sidebar_container">
		<div class="sidebar">
			<div class="sidebar_top"></div>
			<div class="sidebar_item"></div>
			<div class="sidebar_base"></div>
		</div>
		<div class="sidebar">
			<div class="sidebar_top"></div>
			<div class="sidebar_item"></div>
			<div class="sidebar_base"></div>
		</div>
	</div>
	<div id="content">
		<h1>Описание</h1>
		<p>Школа программирования для тех, кто хочет быть лучшим.</p>
		<h1>Контакты</h1>
		<p>Позвонить нам нельзя, приехать тоже. Оставляйте заявку и мы вам перезвоним.</p>
		<h1><a href="/">На главную</a></h1>
	</div>
</div>
{% endblock %}
