{% extends "base.html" %}
{% block title %}Добавление студента{% endblock %}
{% block body %}
    <h1>Добавление студента на курс</h1>
    <form method="post">
        <div class="form_settings">
            <p><span>Курс:</span>
            <select size="5" name="course_id">
                {% for item in courses %}
                    <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
            </select></p>
            <p><span>Студент:</span>
            <select size="5" name="student_id">
                {% for item in students %}
                    <option value="{{item.id}}">
                        {{item.first_name}} {{item.last_name}}
                    </option>
                {% endfor %}
            </select></p>
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" value="Записать"></p>
        </div>
    </form>
{% endblock %}